#include "Resource.h"

IDI_MAIN_ICON ICON "main_icon.ico"

IDR_MAIN_MENU MENU
BEGIN
POPUP "菜单"
BEGIN
MENUITEM "打开备忘录", IDM_MEMO
MENUITEM SEPARATOR
MENUITEM "切换到待机状态", IDM_STATE_IDLE
MENUITEM "切换到行走状态", IDM_STATE_WALK
MENUITEM SEPARATOR
MENUITEM "放大显示", IDM_SIZE_INC
MENUITEM "缩小显示", IDM_SIZE_DEC
MENUITEM SEPARATOR
MENUITEM "加快速度", IDM_SPEED_INC
MENUITEM "减慢速度", IDM_SPEED_DEC
MENUITEM SEPARATOR
MENUITEM "退出", IDM_EXIT
END
END